#### Importing dependencies

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 100)

#### Assinging path to all the csv files

In [2]:
PATH_ALL = './assignment5/'
PATH_BEIJING = PATH_ALL + 'Beijing.csv'
PATH_CHENGDU = PATH_ALL + 'Chengdu.csv'
PATH_GUANGZHOU = PATH_ALL + 'Guangzhou.csv'
PATH_SHANGHAI = PATH_ALL + 'Shanghai.csv'
PATH_SHENYANG = PATH_ALL + 'Shenyang.csv'

#### Read csv files into dataframes
Each city has it's own dataframe, I added a 'loc' field which gives location name additionally for personal clarity.

In [3]:
df_beijing = pd.read_csv(PATH_BEIJING)
df_beijing['loc'] = 'Beijing'

df_chengdu = pd.read_csv(PATH_CHENGDU)
df_chengdu['loc'] = 'Chengdu'

df_guanghzou = pd.read_csv(PATH_GUANGZHOU)
df_guanghzou['loc'] = 'Guangzhou'

df_shanghai = pd.read_csv(PATH_SHANGHAI)
df_shanghai['loc'] = 'Shanghai'

df_shenyang = pd.read_csv(PATH_SHENYANG)
df_shenyang['loc'] = 'Shenyang'

## **1. Regression**
### **1.1**

#### **1.1 - 1**
City with largest temperature range

In [4]:
# function that returns temperature range

def get_temp_range(high, low):
     return abs(high - low)

The code below derives the temperature range for each of the 5 cities

In [5]:
df_shanghai_high = df_shanghai.sort_values(by = 'TEMP', ascending = False)[:1]['TEMP'].values[0]
df_shanghai_low = df_shanghai.sort_values(by = 'TEMP')[:1]['TEMP'].values[0]
df_range_shanghai = get_temp_range(df_shanghai_high, df_shanghai_low)

df_beijing_high = df_beijing.sort_values(by = 'TEMP', ascending = False)[:1]['TEMP'].values[0]
df_beijing_low = df_beijing.sort_values(by = 'TEMP')[:1]['TEMP'].values[0]
df_range_beijing = get_temp_range(df_beijing_high, df_beijing_low)

df_chengdu_high = df_chengdu.sort_values(by = 'TEMP', ascending = False)[:1]['TEMP'].values[0]
df_chengdu_low = df_chengdu.sort_values(by = 'TEMP')[:1]['TEMP'].values[0]
df_range_chengdu = get_temp_range(df_chengdu_high, df_chengdu_low)

df_guanghzou_high = df_guanghzou.sort_values(by = 'TEMP', ascending = False)[:1]['TEMP'].values[0]
df_guanghzou_low = df_guanghzou.sort_values(by = 'TEMP')[:1]['TEMP'].values[0]
df_range_guanghzou = get_temp_range(df_guanghzou_high, df_guanghzou_low)

df_shenyang_high = df_shenyang.sort_values(by = 'TEMP', ascending = False)[:1]['TEMP'].values[0]
df_shenyang_low = df_shenyang.sort_values(by = 'TEMP')[:1]['TEMP'].values[0]
df_range_shenyang = get_temp_range(df_shenyang_high, df_shenyang_low)

print("Beijing temp range: ", df_range_beijing)
print("Chengdu temp range: ", df_range_chengdu)
print("Guangzhou temp range: ", df_range_guanghzou)
print("Shanghai temp range: ", df_range_shanghai)
print("Shenyang temp range: ", df_range_shenyang)

max(df_range_beijing, df_range_chengdu, df_range_guanghzou, df_range_shanghai, df_range_shenyang)

Beijing temp range:  61.0
Chengdu temp range:  41.0
Guangzhou temp range:  35.700001529999994
Shanghai temp range:  46.0
Shenyang temp range:  63.0

63.0

It is observed that Shenyang has the largest temperature range.

In [6]:
print("Largest Temperature Range: Shenyang ", df_range_shenyang)

Largest Temperature Range: Shenyang  63.0

#### **1.1 - 2**

The pollution is derived from the PM (particulate matter) information. The size of particulate is directly linked to pollution and thus health problems. So, I will compute the average PM for all cities based on which I will decide the most and least polluted cities.

In [7]:
def pm_avg(df_avg):
    return df_avg.describe()['PM']['mean']

In [8]:
df_beijing_pm_mean = pm_avg(df_beijing)
df_chengdu_pm_mean = pm_avg(df_chengdu)
df_guanghzou_pm_mean = pm_avg(df_guanghzou)
df_shanghai_pm_mean = pm_avg(df_shanghai)
df_shenyang_pm_mean = pm_avg(df_shenyang)

In [9]:
print("Beijing avg pm: ", df_beijing_pm_mean)
print("Chengdu avg pm: ", df_chengdu_pm_mean)
print("Guanghzou avg pm: ", df_guanghzou_pm_mean)
print("Shanghai avg pm: ", df_shanghai_pm_mean)
print("Shenyang avg pm: ", df_shenyang_pm_mean)

Beijing avg pm:  95.90424117331851
Chengdu avg pm:  83.4076124567474
Guanghzou avg pm:  50.80393793273986
Shanghai avg pm:  52.91054378800787
Shenyang avg pm:  75.8375

In [10]:
max(df_beijing_pm_mean, df_chengdu_pm_mean, df_guanghzou_pm_mean, df_shanghai_pm_mean, df_shenyang_pm_mean)
min(df_beijing_pm_mean, df_chengdu_pm_mean, df_guanghzou_pm_mean, df_shanghai_pm_mean, df_shenyang_pm_mean)

50.80393793273986

In [11]:
print("Most polluted: Beijing", df_beijing_pm_mean)
print("Least polluted: Guanghzou", df_guanghzou_pm_mean)

Most polluted: Beijing 95.90424117331851
Least polluted: Guanghzou 50.80393793273986

#### **1.1 - 3**

Calculating average temperature per season for each city.

1 - Spring

2 - Summer

3 - Fall

4 - Winter

Beijing average temperature for each season

In [12]:
df_beijing.groupby('season').describe()['TEMP'][['mean']]

             mean
season
1       14.008455
2       25.852710
3       12.623598
4       -2.434568

Chengdu average temperature for each season

In [13]:
df_chengdu.groupby('season').describe()['TEMP'][['mean']]

             mean
season
1       18.258194
2       25.966364
3       18.356543
4        8.052331

Guanghzou average temperature for each season

In [14]:
df_guanghzou.groupby('season').describe()['TEMP'][['mean']]

             mean
season
1.0     21.906167
2.0     28.203261
3.0     23.635798
4.0     14.099237

Shanghai average temperature for each season

In [15]:
df_shanghai.groupby('season').describe()['TEMP'][['mean']]

             mean
season
1       15.982709
2       27.705798
3       19.765703
4        6.227308

Shenyang average temperature for each season

In [16]:
df_shenyang.groupby('season').describe()['TEMP'][['mean']]

             mean
season
1        9.456422
2       23.612061
3        9.809549
4       -9.199953

#### **1.1 - 4**

Hottest summer and coolest winter:

I have grouped all city's temperatures by season to grab the summer and winter data. I then extracted the max temperature per summer and min temperature per winter.

In [17]:
df_beijing_seasons = df_beijing.groupby('season').describe()['TEMP']
df_chengdu_seasons = df_chengdu.groupby('season').describe()['TEMP']
df_guanghzou_seasons = df_guanghzou.groupby('season').describe()['TEMP']
df_shanghai_seasons = df_shanghai.groupby('season').describe()['TEMP']
df_shenyang_seasons = df_shenyang.groupby('season').describe()['TEMP']

In [18]:
beijing_summer_max = df_beijing_seasons.iloc[[1]]['max'].values[0]
beijing_winter_min = df_beijing_seasons.iloc[[3]]['min'].values[0]

chengdu_summer_max = df_chengdu_seasons.iloc[[1]]['max'].values[0]
chengdu_winter_min = df_chengdu_seasons.iloc[[3]]['min'].values[0]

guanghzou_summer_max = df_guanghzou_seasons.iloc[[1]]['max'].values[0]
guanghzou_winter_min = df_guanghzou_seasons.iloc[[3]]['min'].values[0]

shanghai_summer_max = df_shanghai_seasons.iloc[[1]]['max'].values[0]
shanghai_winter_min = df_shanghai_seasons.iloc[[3]]['min'].values[0]

shenyang_summer_max = df_shenyang_seasons.iloc[[1]]['max'].values[0]
shenyang_winter_min = df_shanghai_seasons.iloc[[3]]['min'].values[0]

In [19]:
print("Beijing hottest summer: ", beijing_summer_max)
print("Beijing coldest winter: ", beijing_winter_min)

print("\nChengdu hottest summer: ", chengdu_summer_max)
print("Chengdu coldest winter: ", chengdu_winter_min)

print("\nGuanghzou hottest summer: ", guanghzou_summer_max)
print("Guanghzou coldest winter: ", guanghzou_winter_min)

print("\nShanghai hottest summer: ", shanghai_summer_max)
print("Shanghai coldest winter: ", shanghai_winter_min)

print("\nShenyang hottest summer: ", shenyang_summer_max)
print("Shenyang coldest winter: ", shenyang_winter_min)

Beijing hottest summer:  41.0
Beijing coldest winter:  -19.0

Chengdu hottest summer:  38.0
Chengdu coldest winter:  -3.0

Guanghzou hottest summer:  37.40000153
Guanghzou coldest winter:  1.7

Shanghai hottest summer:  41.0
Shanghai coldest winter:  -5.0

Shenyang hottest summer:  35.0
Shenyang coldest winter:  -5.0

#### Beijing and Shanghai have the hottest summer and Beijing has the coolest winter

#### **1.1 - 5**

Feature with largest amount of missing data:

In [20]:
df_beijing.isnull().sum() + df_chengdu.isnull().sum() + df_guanghzou.isnull().sum() + df_shanghai.isnull().sum() + df_shenyang.isnull().sum()

year                 0
month                0
day                  0
hour                 0
season               1
PM               95562
DEWP              1240
HUMI              1568
PRES              1581
TEMP              1238
Iws               1243
precipitation    20212
Iprec            20212
loc                  0
dtype: int64

PM has the max number of missing values.